{% extends 'social/layout.html'%}
{% load static %}
{% block content %}
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'app.js' %}"  defer></script>

<center>
<div id="field2" class="row" style="padding: 20px;" > 
    
{% if poke_data %}

<div id="pk1-img"  style="display: none;">
    <img class = "img-container" src="{{poke_data.0.sprites}}">
    <img class ="img-container"  src="{{equipoEnemigo.0.sprites}}">
    <div id="skills">
        <div>
        <div id ="result">Seleccione un ataque </div>
        <button id = "skill1" class="row"  onclick="hola(
        '{{poke_data.0.mov1.name}}{{poke_data.0.mov1.type}}',
        '{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}',
        '{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}',
        '{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}',
        '{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}',
        '{{equipoEnemigo.0.name}}','{{poke_data.0.name}}',result)">
            {{poke_data.0.mov1.name}}-{{poke_data.0.mov1.type}}
        </button>
        
        <button id = "skill2" class="row">
            {{poke_data.0.mov2.name}}-{{poke_data.0.mov2.type}}
        </button>
        </div>
        <div>
        <button id = "skill3" class="row">
            {{poke_data.0.mov3.name}}-{{poke_data.0.mov1.type}}
        </button>
        <button id = "skill4" class="row">
            {{poke_data.0.mov4.name}}-{{poke_data.0.mov4.type}}
        </button>
        </div>
    </div>
</div>


<h1  onclick="test('{{poke_data.0.mov1.name}}',this)">Click on this text!</h1>
<script>
var test =function(value,object){  
object.innerHTML=value;
};     
</script>





<div class="row" id="field1" style="display: block;">
<div class="container-article" style="margin:auto">
<div id ="group-btn">
    <button id = "pk1" class="row">
        <img src="{{poke_data.0.sprites}}">
    </button>
    <button id = "pk2" type="button">
        <img src="{{poke_data.1.sprites}}">
    </button>
    <button id = "pk3" type="button">
        <img src="{{poke_data.2.sprites}}">
    </button>
    <button id = "pk4" type="button">
        <img src="{{poke_data2.0.sprites}}">
    </button>
    <button id = "pk5" type="button">
        <img src="{{poke_data2.1.sprites}}">
    </button>
    <button id = "pk6" type="button">
        <img src="{{poke_data2.2.sprites}}">
    </button>
</div>
</div>
</div>
</div>
</center>



    
    {% endif %}




 








<script type="text/javascript" src="{% static 'app.js' %}"  defer></script>

{% endblock %}