{% extends 'social/layout.html'%}
{% load static %}
{% block content %}
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'app.js' %}" defer></script>
<div class="fondobatalla">
<center>
    <div id="field3" class="row" style="padding: 20px;">

        {% if poke_data %}
    
        <div  class="pokeRestE">Pokemon disponibles: <div id="pokeTeamE">6</div></div>
        <div ><div id="eVida" class="pokeLife">{{ vida }}</div><div id="setVida" style="display: none;">{{ vida }}</div></div>
    
    <div >
        <img id="FE1" style="position: relative;" style="left: 230px;" src="{{equipoEnemigo.0.sprites}}">
        
        <img id="FE2" style="position: relative;" style="left: 230px;" style="display: none;"
            src="{{equipoEnemigo.1.sprites}}">
        <img id="FE3" style="position: relative;" style="left: 230px;" style="display: none;"
            src="{{equipoEnemigo.2.sprites}}">
        <img id="FE4" style="position: relative;" style="left: 230px;" style="display: none;"
            src="{{equipoEnemigo.3.sprites}}">
        <img id="FE5" style="position: relative;" style="left: 230px;" style="display: none;"
            src="{{equipoEnemigo.4.sprites}}">
        <img id="FE6" style="position: relative;" style="left: 230px;" style="display: none;"
            src="{{equipoEnemigo.5.sprites}}">
        
        
    </div>


   
        <div id="result">Seleccione un ataque </div>
    <div  class="pokeRestA">Pokemon disponibles: <div id="pokeTeamA">6</div></div>

    </div>

    <div id="pk1-img" style="display: none;">

        <div id="aVida">5</div>


        <img id=FA1  src="{{poke_data.0.sprites}}">


        <div id="skills">

            <div class="slotAtack1">
                <div style="margin: 10px;"><button id="skill1" class="row"
                    onclick="hola(
    '{{poke_data.0.mov1.name}}','{{poke_data.0.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.0.mov1.name}}-{{poke_data.0.mov1.type}}
                </button>
                </div>
            <div style="margin: 10px;padding-left: 2%;"><button id="skill2" class="row"
                    onclick="hola(
    '{{poke_data.0.mov2.name}}','{{poke_data.0.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.0.mov2.name}}-{{poke_data.0.mov2.type}}
                </button>
            </div>
            </div>
            <div class="slotAtack1">
            <div style="margin: 10px;"><button id="skill3" class="row"
                    onclick="hola(
    '{{poke_data.0.mov3.name}}','{{poke_data.0.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.0.mov3.name}}-{{poke_data.0.mov3.type}}
                </button>
            </div>
            <div style="margin: 10px;padding-left: 2%;">
                <button id="skill4" class="row"
                    onclick="hola(
    '{{poke_data.0.mov4.name}}','{{poke_data.0.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.0.mov4.name}}-{{poke_data.0.mov4.type}}
                </button>
            </div>
        </div>
        </div>
    </div>




    <div id="pk2-img" style="display: none;">

        <div id="aVida2">5</div>


        <img id=FA2  src="{{poke_data.1.sprites}}">

        <div id="skills2">

            <div class="slotAtack1">
                <div style="margin: 10px;"><button id="skill1_2" class="row"
                    onclick="hola(
    '{{poke_data.1.mov1.name}}','{{poke_data.1.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.1.mov1.name}}-{{poke_data.1.mov1.type}}
                </button>
                </div>
                <div style="margin: 10px;padding-left: 2%;"><button id="skill2_2" class="row"
                    onclick="hola(
    '{{poke_data.1.mov2.name}}','{{poke_data.1.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.1.mov2.name}}-{{poke_data.1.mov2.type}}
                </button>
            </div>
            </div>
            <div class="slotAtack1">
                <div style="margin: 10px;"><button id="skill3_2" class="row"
                    onclick="hola(
    '{{poke_data.1.mov3.name}}','{{poke_data.1.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.1.mov3.name}}-{{poke_data.1.mov3.type}}
                </button>
                </div>
                <div style="margin: 10px;padding-left: 2%;">
                <button id="skill4_2" class="row"
                    onclick="hola(
    '{{poke_data.1.mov4.name}}','{{poke_data.1.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.1.mov4.name}}-{{poke_data.1.mov4.type}}
                </button>
            </div>
        </div>
        </div>
    </div>



    <div id="pk3-img" style="display: none;">
        <div id="aVida3">5</div>


        <img id=FA3  src="{{poke_data.2.sprites}}">

        <div id="skills3">
            <div>

                <button id="skill1_3" class="row"
                    onclick="hola(
    '{{poke_data.2.mov1.name}}','{{poke_data.2.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.2.mov1.name}}-{{poke_data.2.mov1.type}}
                </button>

                <button id="skill2_3" class="row"
                    onclick="hola(
    '{{poke_data.2.mov2.name}}','{{poke_data.2.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.2.mov2.name}}-{{poke_data.2.mov2.type}}
                </button>
            </div>
            <div>
                <button id="skill3_3" class="row"
                    onclick="hola(
    '{{poke_data.2.mov3.name}}','{{poke_data.2.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.2.mov3.name}}-{{poke_data.2.mov3.type}}
                </button>
                <button id="skill4_3" class="row"
                    onclick="hola(
    '{{poke_data.2.mov4.name}}','{{poke_data.2.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data.2.mov4.name}}-{{poke_data.2.mov4.type}}
                </button>
            </div>
        </div>
    </div>



    <div id="pk4-img" style="display: none;">

        <div id="aVida4">5</div>


        <img id=FA4  src="{{poke_data2.0.sprites}}">


        <div id="skills4">
            <div>

                <button id="skill1_4" class="row"
                    onclick="hola(
    '{{poke_data2.0.mov1.name}}','{{poke_data2.0.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.0.mov1.name}}-{{poke_data2.0.mov1.type}}
                </button>

                <button id="skill2_4" class="row"
                    onclick="hola(
    '{{poke_data2.0.mov2.name}}','{{poke_data2.0.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.0.mov2.name}}-{{poke_data2.0.mov2.type}}
                </button>
            </div>
            <div>
                <button id="skill3_4" class="row"
                    onclick="hola(
    '{{poke_data2.0.mov3.name}}','{{poke_data2.0.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.0.mov3.name}}-{{poke_data2.0.mov3.type}}
                </button>
                <button id="skill4_4" class="row"
                    onclick="hola(
    '{{poke_data2.0.mov4.name}}','{{poke_data2.0.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.0.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.0.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.0.mov4.name}}-{{poke_data2.0.mov4.type}}
                </button>
            </div>
        </div>
    </div>


    <div id="pk5-img" style="display: none;">
        <div id="aVida5">5</div>


        <img id=FA5  src="{{poke_data2.1.sprites}}">

        <div id="skills5">
            <div>

                <button id="skill1_5" class="row"
                    onclick="hola(
    '{{poke_data2.1.mov1.name}}','{{poke_data2.1.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.1.mov1.name}}-{{poke_data2.1.mov1.type}}
                </button>

                <button id="skill2_5" class="row"
                    onclick="hola(
    '{{poke_data2.1.mov2.name}}','{{poke_data2.1.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.1.mov2.name}}-{{poke_data2.1.mov2.type}}
                </button>
            </div>
            <div>
                <button id="skill3_5" class="row"
                    onclick="hola(
    '{{poke_data2.1.mov3.name}}','{{poke_data2.1.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.1.mov3.name}}-{{poke_data2.1.mov3.type}}
                </button>
                <button id="skill4_5" class="row"
                    onclick="hola(
    '{{poke_data2.1.mov4.name}}','{{poke_data2.1.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.1.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.1.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.1.mov4.name}}-{{poke_data2.1.mov4.type}}
                </button>
            </div>
        </div>
    </div>



    <div id="pk6-img" style="display: none;">
        <div id="aVida6">5</div>


        <img id=FA6 src="{{poke_data2.2.sprites}}">

        <div id="skills6">
            <div>

                <button id="skill1_6" class="row"
                    onclick="hola(
    '{{poke_data2.2.mov1.name}}','{{poke_data2.2.mov1.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.2.mov1.name}}-{{poke_data2.2.mov1.type}}
                </button>

                <button id="skill2_6" class="row"
                    onclick="hola(
    '{{poke_data2.2.mov2.name}}','{{poke_data2.2.mov2.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.2.mov2.name}}-{{poke_data2.2.mov2.type}}
                </button>
            </div>
            <div>
                <button id="skill3_6" class="row"
                    onclick="hola(
    '{{poke_data2.2.mov3.name}}','{{poke_data2.2.mov3.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.2.mov3.name}}-{{poke_data2.2.mov3.type}}
                </button>
                <button id="skill4_6" class="row"
                    onclick="hola(
    '{{poke_data2.2.mov4.name}}','{{poke_data2.2.mov4.type}}','{{equipoEnemigo.0.mov1.name}}','{{equipoEnemigo.0.mov1.type}}','{{equipoEnemigo.0.mov2.name}}','{{equipoEnemigo.0.mov2.type}}','{{equipoEnemigo.0.mov3.name}}','{{equipoEnemigo.0.mov3.type}}','{{equipoEnemigo.0.mov4.name}}','{{equipoEnemigo.0.mov4.type}}','{{poke_data2.2.name}}','{{equipoEnemigo.0.name}}','{{poke_data2.2.types}}','{{equipoEnemigo.0.types}}',result)">
                    {{poke_data2.2.mov4.name}}-{{poke_data2.2.mov4.type}}
                </button>
            </div>
        </div>
    </div>
</center>
</div>
<div id="field3" class="row" style="padding: 20px;position: relative;left: 30px;">
 

        <div class="row" id="field1" style="display: block;">
            <div class="container-article" style="margin:auto">
                <div id="group-btn">
                    <button id="pk1" class="row" style="margin: 10px;">
                        <img src="{{poke_data.0.sprites}}">
                    </button>
                    <button id="pk2" type="button" style="margin: 10px;">
                        <img src="{{poke_data.1.sprites}}">
                    </button>
                    <button id="pk3" type="button" style="margin: 10px;">
                        <img src="{{poke_data.2.sprites}}">
                    </button>
                    <button id="pk4" type="button" style="margin: 10px;">
                        <img src="{{poke_data2.0.sprites}}">
                    </button>
                    <button id="pk5" type="button" style="margin: 10px;">
                        <img src="{{poke_data2.1.sprites}}">
                    </button>
                    <button id="pk6" type="button" style="margin: 10px;">
                        <img src="{{poke_data2.2.sprites}}">
                    </button>
                </div>
            </div>
        </div>

        <div id="items">
            <div id="group-item" style="position: relative;bottom: 242px;left: 570px;">
                <div>
                <button id="agua-img" type="button" style="margin: 2px;height: 50px;">
                    <img src="/media/fresh_water.png"><div id ="agua">{{ agua }}</div>
                </button>
                <button id="pocion-img" type="button"style="margin: 2px;height: 50px;">
                    <img src="/media/super_potion.png"><div id="pocion">{{ pocion }}</div>
                </button>
            </div>
            <div>
                <button id="hiper-img" type="button"style="margin: 2px;height: 50px;">
                    <img src="/media/hyper_potion.png"><div id="hiperPocion">{{hiperPocion }}</div>
                </button>
                <button id="max-img" type="button"style="margin: 2px;height: 50px;">
                    <img src="/media/max_potion.png"><div id="maxPocion">{{ maxPocion }}</div>
                </button>
            </div>
            </div>
        </div>


<div><a id="field4" class="row" style="display: none;" href="1/{{agua}}/{{ pocion }}/{{hiperPocion }}/{{ maxPocion }}">Buena pelea -> Siguiente-></a> 
    
</div>
<div id="field5" class="row" style="display: none;">Perdiste, intenta de nuevo</div>



</div>



<div id="equipo2Al4" style="display: none;">

    <!-- equipo2 -->
    <div id="movA2">{{poke_data.1.mov1.name}}</div>
    <div id="typeA2">{{poke_data.1.mov1.type}}</div>

    <div id="movE2_1">{{equipoEnemigo.1.mov1.name}}</div>
    <div id="type2_1">{{equipoEnemigo.1.mov1.type}}</div>

    <div id="movE2_2">{{equipoEnemigo.1.mov2.name}}</div>
    <div id="type2_2">{{equipoEnemigo.1.mov2.type}}</div>

    <div id="movE2_3">{{equipoEnemigo.1.mov3.name}}</div>
    <div id="type2_3">{{equipoEnemigo.1.mov3.type}}</div>

    <div id="movE2_4">{{equipoEnemigo.1.mov4.name}}</div>
    <div id="type2_4">{{equipoEnemigo.1.mov4.type}}</div>

    <div id="nombreA2">{{poke_data.1.name}}</div>

    <div id="nombreE2">{{equipoEnemigo.1.name}}</div>

    <div id="PokeTypeA2">{{poke_data.1.types}}</div>

    <div id="PokeTypeE2">{{equipoEnemigo.1.types}}</div>


    <!-- equipo3 -->
    <div id="movA3">{{poke_data.2.mov1.name}}</div>
    <div id="typeA3">{{poke_data.2.mov1.type}}</div>

    <div id="movE3_1">{{equipoEnemigo.2.mov1.name}}</div>
    <div id="type3_1">{{equipoEnemigo.2.mov1.type}}</div>

    <div id="movE3_2">{{equipoEnemigo.2.mov2.name}}</div>
    <div id="type3_2">{{equipoEnemigo.2.mov2.type}}</div>

    <div id="movE3_3">{{equipoEnemigo.2.mov3.name}}</div>
    <div id="type3_3">{{equipoEnemigo.2.mov3.type}}</div>

    <div id="movE3_4">{{equipoEnemigo.2.mov4.name}}</div>
    <div id="type3_4">{{equipoEnemigo.2.mov4.type}}</div>

    <div id="nombreA3">{{poke_data.2.name}}</div>

    <div id="nombreE3">{{equipoEnemigo.2.name}}</div>

    <div id="PokeTypeA3">{{poke_data.2.types}}</div>

    <div id="PokeTypeE3">{{equipoEnemigo.2.types}}</div>


    <!-- equipo4 -->
    <div id="movA4">{{poke_data.3.mov1.name}}</div>
    <div id="typeA4">{{poke_data.3.mov1.type}}</div>

    <div id="movE4_1">{{equipoEnemigo.3.mov1.name}}</div>
    <div id="type4_1">{{equipoEnemigo.3.mov1.type}}</div>

    <div id="movE4_2">{{equipoEnemigo.3.mov2.name}}</div>
    <div id="type4_2">{{equipoEnemigo.3.mov2.type}}</div>

    <div id="movE4_3">{{equipoEnemigo.3.mov3.name}}</div>
    <div id="type4_3">{{equipoEnemigo.3.mov3.type}}</div>

    <div id="movE4_4">{{equipoEnemigo.3.mov4.name}}</div>
    <div id="type4_4">{{equipoEnemigo.3.mov4.type}}</div>

    <div id="nombreA4">{{poke_data.3.name}}</div>

    <div id="nombreE4">{{equipoEnemigo.3.name}}</div>

    <div id="PokeTypeA4">{{poke_data.3.types}}</div>

    <div id="PokeTypeE4">{{equipoEnemigo.3.types}}</div>

    <!-- equipo5 -->
    <div id="movA5">{{poke_data.4.mov1.name}}</div>
    <div id="typeA5">{{poke_data.4.mov1.type}}</div>

    <div id="movE5_1">{{equipoEnemigo.4.mov1.name}}</div>
    <div id="type5_1">{{equipoEnemigo.4.mov1.type}}</div>

    <div id="movE5_2">{{equipoEnemigo.4.mov2.name}}</div>
    <div id="type5_2">{{equipoEnemigo.4.mov2.type}}</div>

    <div id="movE5_3">{{equipoEnemigo.4.mov3.name}}</div>
    <div id="type5_3">{{equipoEnemigo.4.mov3.type}}</div>

    <div id="movE5_4">{{equipoEnemigo.4.mov4.name}}</div>
    <div id="type5_4">{{equipoEnemigo.4.mov4.type}}</div>

    <div id="nombreA5">{{poke_data.4.name}}</div>

    <div id="nombreE5">{{equipoEnemigo.4.name}}</div>

    <div id="PokeTypeA5">{{poke_data.4.types}}</div>

    <div id="PokeTypeE5">{{equipoEnemigo.4.types}}</div>

    <!-- equipo6 -->
    <div id="movA6">{{poke_data.5.mov1.name}}</div>
    <div id="typeA6">{{poke_data.5.mov1.type}}</div>

    <div id="movE6_1">{{equipoEnemigo.5.mov1.name}}</div>
    <div id="type6_1">{{equipoEnemigo.5.mov1.type}}</div>

    <div id="movE6_2">{{equipoEnemigo.5.mov2.name}}</div>
    <div id="type6_2">{{equipoEnemigo.5.mov2.type}}</div>

    <div id="movE6_3">{{equipoEnemigo.5.mov3.name}}</div>
    <div id="type6_3">{{equipoEnemigo.5.mov3.type}}</div>

    <div id="movE6_4">{{equipoEnemigo.5.mov4.name}}</div>
    <div id="type6_4">{{equipoEnemigo.5.mov4.type}}</div>

    <div id="nombreA6">{{poke_data.5.name}}</div>

    <div id="nombreE6">{{equipoEnemigo.5.name}}</div>

    <div id="PokeTypeA6">{{poke_data.5.types}}</div>

    <div id="PokeTypeE6">{{equipoEnemigo.5.types}}</div>
</div>

{% endif %}













<script type="text/javascript" src="{% static 'app.js' %}" defer></script>

{% endblock %}