{% extends 'social/layout.html' %}
{% block content %}
{% load static %}
<link href="{% static '/styles.css' %}" rel="stylesheet" />
<!-- Profile -->
<div class="profile">
	<img src="{{user.profile.image.url}}">
	<h2>@{{user.username}}</h2>
	<!-- <button><a class="follow-button" href="#">Follow</a></button> -->
</div>
<!-- Follow items -->
<div class="follow">
	<div class="puntaje">
		<h5>Victorias</h5>
		{% if victCurrent %}
		<div>{{victCurrent}}<img  src="/media/amulet-coin.png"></div>
		{% endif %}
	</div>
	<div class="puntaje">
		<h5>Honor</h5>
		{% if honor %}
		<div>{{honor}}<img  src="/media/magmasymbol.gif"></div>
		{% endif %}
	</div>
	<div class="puntaje">
		<h5>Saldo</h5>
		{% if saldo %}
		<div>{{saldo}}<img  src="/media/coincase.png"></div>
		{% endif %}
		
	</div>

</div>
<div class="follow">
	<div class="equip">
		<h5>Equipo Actual</h5>
	</div>
	{% if poke_data == "0" %}
			<div class="team-view">
				<img   src="/media/defectimg.png">
			</div>
	{% else %}
		{% for poke_data in poke_data %}
			<div class="team-view">
				<img   src={{poke_data.sprites}}>
			</div>
		
		{% endfor %}
	{% endif %}
	{% if poke_data2 == None %}
		<div class="team-view">
			<img  src="/media/defectimg.png">
		</div>
	{% else %}
		{% for poke_data2 in poke_data2 %}
			<div class="team-view">
				<img   src={{poke_data2.sprites}}>
			</div>
		{% endfor %}
	{% endif %}
</div>




{% endblock %}