form {
    margin: 20px auto;
    padding: 40px;
    font-size: 1rem;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #D3D8DC;
    outline: 0;
    background: #fff;
    padding: 20px 0 4px;
    margin: 0 0 20px;
    color: #777B7E;
}

.poke-card {
    position: relative;
    float: left;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 200px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid rgba(0, 0, 0, 0);
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}



.img-container  {
    position: relative;
    width: 180px;
    margin: 10px auto;
    
}

.img-combate  {
  position: relative;
  margin: 10px auto;
  
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 90px;
    border-radius: 50%;

    
}

#contenedor {
  display: table;
  border: 2px solid #fff0;
  text-align: center;
  margin: 0 auto;
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}

.team-view {
    position: relative;
    float: left;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}

table , td, th {
	border: 0px solid #dd0606;
	border-collapse: collapse;
}
td, th {
	padding: 30px;
	width: 30px;
	height: 25px;
    
}

.even {
	background: #fab700;
}
.odd {
	background: #df8600;
}







label{
  color: white;
}

body{
  background-image: url('/media/fondo\(1\).webp');
	background-size: cover;
  background-repeat: no-repeat;

 
  

	font-size: 62.5%;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}


/* Global Styles*/


h5{
	font-size: 1rem;
	margin-bottom: 0;
  color: #D3D8DC;

}

p{
	font-size: 1rem;
}



img{
	object-fit: cover;
}

/* Nav bar */
.main-head{
	background: white;
	color: black;
}

nav.main{
	min-height: 7vh;
	display: flex;
	width: 65%;
	margin: auto; 
	align-items: center;
	padding: 0.5rem;
}

nav.main ul{
	display: flex;
	flex: 1 1 40rem;
	justify-content: right;
	align-items: center;
	list-style: none;
  flex-direction: row-reverse;
  padding-left: 10px;
  padding-right: 10px;
}

#logo{
	flex: 2 1 40rem;
}
.equip{
  padding-top: 3%;
}
/*---- TIENDA STYLE------*/
.panel_saldos{
  display: flex;
  color: white;
  font-size: 20px;
  margin: 1%;
  border: groove;
  border-radius: 19px;
  justify-content: center;
  border-color: #05fbfb00;
}

.cantidad{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

#saldo{
  margin-block: 10px;
  padding-right: 10px;
  justify-content: center;
  display: flex;
}

#honor{
  margin-block: 10px;
  padding-right: 10px;
  justify-content: center;
  display: flex;
}
#saldo-img{
  margin-block: 10px;
  padding-right: 10px;
  justify-content: center;
  display: flex;
}

#honor-img{
  margin-block: 10px;
  padding-right: 10px;
  justify-content: center;
  display: flex;
}

#nombre_perfil{
  margin-block: 10px;
  padding-right: 10px;
  justify-content: center;
  display: flex;
}


/* -----*/
ul{
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
a{
	font-size: .93rem;
	text-decoration: none;
	color: rgb(250, 250, 250);
}


.main{
  background-color: rgba(63, 63, 63, 0.918);
  width:70%;
	margin: 5% auto;
	border-radius: 4px;
	padding-bottom: 20px;
}

/* NAVIGATION BAR */
.second-nav{
	display: flex;
	padding: 15px 30px;
}

.second-nav .feed{
	flex: 1 1 30px;
}

.second-nav .feed:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .profile{
	flex: 1 1 30px;
}

.second-nav .profile:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .new{
	flex: 6 1 5rem;
	text-align: right;
	text-transform: uppercase;
  	color: #ffffff;
}

.second-nav .new:hover{
	color: grey;
}

/* Article */

article{
	width: 93%;
	margin: auto;
	padding: 40px 0;
	border-bottom: 2px solid #ffffff;
}

.article2{
	width: 250px;
	padding: 40px 0;
  border-radius: 10%;
	border: 2px solid #c7c7c700;
  background-color: #ffffff91;
display: flex;
align-content: center;
padding-left: 15px;
}

.username{
	margin-bottom: .2rem;
}

.username a{
	font-size: 1.1rem;
}

.container-article{
  display: flex;
}

.container-article img{
  height: 68px;
  width: 68px;
  margin-right: 10px;
  border-radius: 50%;
  
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: .8rem;
  opacity: .7;
}

.post{
	font-size: .94rem;
}

/* PROFILE */
.profile{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile img{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  margin: 20px;
}
.profile h2{
	margin-top: -10px;
	font-size: 1.3rem;
  color: #D3D8DC;
}

.puntaje {
  padding: 10px auto;
  color: white;
  font-size: large;
}
/* Followers / Following / Post */
.follow{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: 30px auto;
	text-align: center;
	border-bottom: 2px solid #ECEEEF;
	padding-bottom: 20px;
}


/*Form Elements*/

input:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #4dace4;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}

button#submit:hover {
  opacity: 1;
}
button{
	font-size: 1rem;
	color: white;
	padding: 0.4rem 1.4rem;
	border: none;
	background: #7A9D96;
	 border-radius: 4px;
	cursor: pointer;

}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}
.success {
  background: #43DC7E;
  color: white;
}
.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
}


/*Footer*/
footer{
  color: white;
  text-align: center;
  font-size: .875em;
  margin: 40px 0;
}

footer p {
  opacity: .8;
}

footer p a {
  color: white;
}

img.profile{
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 50%;
}


.follow-button{
  color: white;
}

/*Media Queries*/
@media (max-width: 786px) {
  .main {
    width: 95%;
  }

}

.dificult-button{
  margin: auto;
}


#group-btn{
  display:flex;
  width:100%;
}

#group-btn > img >{
  width: 100%;
}

#result{
  height: 10vh;
}

#FA1{
  position: relative;
  right: 150px;
}

#FE1{
  position: relative;
  left: 250px;
}

#FA2{
  position: relative;
  right: 150px;
}

#FE2{
  position: relative;
  left: 250px;
}

#FA3{
  position: relative;right: 150px;
}

#FE3{
  position: relative;
  left: 250px;
}

#FA4{
  position: relative;right: 150px;
}

#FE4{
  position: relative;
  left: 250px;
}

#FA5{
  position: relative;right: 150px;
}

#FE5{
  position: relative;
  left: 250px;
}

#FA6{
  position: relative;right: 150px;
}

#FE6{
  position: relative;
  left: 250px;
}


.pokeRestE{
  display: flex;
  color: black;
  position: relative;
  justify-content: center;
  width: 540px;
  top: 60px;
}

.pokeLife{
  display: flex;
  color: black;
  position: relative;
  width: 450px;
}

.fondobatalla{
  background-image:url('/media/pokekhe.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 476px;
}


.pokeRestA{
  display: flex;
  color: black;
  position: relative;
  justify-content: right;
  top: 40px;
  width: 730px;
}

.slotAtack1{
  display: flex;
  justify-content: left;
  width: 600px;
  position: relative;

}
.slotAtack2{
  display: flex;
  justify-content: left;
  width: 600px;
  position: relative;
}

#skill1{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #52716A82;
  border-radius: 4px;
}

#skill2{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#skill3{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #52716A82;
  border-radius: 4px;
}

#skill4{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#skill1_2{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #52716A82;
  border-radius: 4px;
}

#skill2_2{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#skill3_2{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #52716A82;
  border-radius: 4px;
}

#skill4_2{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#agua-img
{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#pocion-img
{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}
#hiper-img
{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}
#max-img
{
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #5C8784;
  border-radius: 4px;
}

#aVida{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}
#aVida2{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}
#aVida3{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}
#aVida4{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}
#aVida5{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}
#aVida6{
  display: block;
  top: 50px;
  position: relative;
  left: 200px;
}